@import url('./reset.css');
@import url('./base.css');
@import url('./loader.css');

* {
	box-sizing: border-box;
}

.container {
	text-align: left;
	font-family: "Montserrat", sans-serif;
}

.form {
	margin: 20px auto;
}



input[name="search-text"] {
	border: 1px solid #808080;
	border-radius: 4px;
	width: 272px;
	height: 40px;

	color: #2e2f42;
	padding-left: 16px;
	margin-bottom: 32px;

	font-size: 16px;
	letter-spacing: 0.04em;
}

input[name="search-text"]:hover {
	border: 1px solid #000;
}

input[name="search-text"]:focus {
	outline: transparent;
	border: 1px solid #4e75ff;
}

button {
	border: none;
	border-radius: 8px;
	padding: 8px 16px;
	width: 75px;
	height: 40px;
	background: #4e75ff;
	vertical-align: top;

	font-weight: 500;
	letter-spacing: 0.04em;
	color: #fff;
}

button:hover { 
	border: none;
	background: #6c8cff;
}

button:disabled {
	color: #989898;
	background: #cfcfcf;
}

.gallery {
	width: 1128px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	gap: 24px;


	list-style-type: none;
}

.gallery-link {
	display: block;
	height: 200px;
}

.gallery-item {
	width: calc((100% - 80px) / 3);
	position: relative;

	border: 1px solid #808080;

	transition: transform 0.15s ease;
}

.gallery-item:hover {
	transform: scale(1.044);
}

.gallery-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.image-desc {
	display: flex;
	justify-content: space-evenly;
}

.image-desc p {
	text-align: center;
}

.image-desc p:first-child {
	font-weight: bold;
}

#load-more {
	display: none;
	width: auto;
	margin: 20px auto 20px;
}