@import url('./reset.css');
@import url('./base.css');
@import url('./loader.css');

.form {
	margin: 20px auto;
}

.form > label {
}

.form > button {}

.gallery {
	width: 1128px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	gap: 24px;


	list-style-type: none;
}

.gallery-link {
	display: block;
	height: 200px;
}

.gallery-item {
	width: calc((100% - 80px) / 3);
	position: relative;

	border: 1px solid #808080;

	transition: transform 0.15s ease;
}

.gallery-item:hover {
	transform: scale(1.044);
}

.gallery-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.image-desc {
	display: flex;
	justify-content: space-evenly;
}

.image-desc p {
	text-align: center;
}

.image-desc p:first-child {
	font-weight: bold;
}